github "loudnate/LoopKit" "dev"
# git "~/src/github.com/loudnate/LoopKit" "reservoir-previous-entry"
github "loudnate/xDripG5" "dev"
github "loudnate/SwiftCharts" "loudnate/naterade"
github "ps2/rileylink_ios" "nightscoutuploadkit"
github "loudnate/dexcom-share-client-swift" "framework-project"
github "mpurland/Amplitude-iOS" "framework"
